* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: #222831;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.homepage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #393e4633;
    border-bottom: 2px solid #eeeeee36;
    padding: 10px;
    padding-left: 20px;
    font-family: "Poppins", sans-serif;
}


#logo1 {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
}

#logo1 span {
    color: #00acb5;
}

.menu {
    background: none;
    padding-right: 30px;
}

.menu a {
    font-family: "poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    background: none;
    padding-right: 1rem;
    transition: .3s;
    
}

.menu a:hover {
    color: #00ADB5;
}

section {
    min-height: 100vh;
}

.homepage1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacoes {
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0px;
    border-radius: 20px;
    margin: 0;
    }

.info1 {
    background: none;
    padding: 10px;
    padding-left: 30px;
}

.info1 h1 {
    font-family: "Poppins", sans-serif;
    font-size: 55px;
    margin: 0;
    padding-bottom: 30px;
    background: none;
    color: #FFF;
    line-height: .9;
    text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.073);
}

.info1 h1 span {
    color: #00ADB5;
    text-shadow: 4px 4px 2px rgba(3, 179, 243, 0.075);
}

.info1 p {
    color: #FFF;
    font-family: "Poppins", sans-serif;
    text-shadow: 0px 1px 9px rgba(0,0,0,0.6);
} 

.infolinks {
    background: none;
    margin-top: 20px;
    display: flex;
    padding: 10px;
    padding-left: 0;

}

.infolinks a {
    padding-right: 10px;

}

.imagens {
    color: #FFF;
    background: #00acb5;
    padding: 10px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: .3s;
}

.infolinks a img:hover {
    color: #FFF;
    background: #00acb569
}

.infolinks1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infolinks1 a {
    display: flex;
    align-items: center;
    background: #393e46d2;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 5px;
    color: #FFF;
    font-family: "Poppins";
    font-weight: 600;
    border-radius: 50px;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-shadow: 3px 6px 2px rgba(0,0,0,0.14);
    text-align: start;
    transition: .3s;
    line-height: 0;
}

.infolinks1 a:hover {
    background: #393e4633;
}

.infolinks1 box-icon {
    background: none;
    padding-right: 0px;
}

#homeimg {
    height: 300px;
    padding-bottom: 0px;
}

.services {
    min-height: 100vh;
    background: none;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoservices {
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.infoservices  h3 {
    background: none;
    padding: 10px;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.188);
}

.infoservices  h3 span {
    color: #11e3ee;
}
.btnservices {
    display: flex;
    justify-content: center;
    color: #FFF;
    gap: 2rem;
    background: none;
    
}
.servicesinfo { 
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 20px;
    background: #eeeeee21;
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    
}

.servicesinfo h4 {
    text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.123);

}

.btn-1 {
    color: #eeeeee;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    background: #00ADB5;
    margin-top: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0) 0px 1px 1px, rgba(69, 240, 253, 0.528) 0px 4px 10px;
    text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.28);
    transition: .7s;

}

.btn-1:hover {
    box-shadow: none;
}


#paint {
    color: #11e3ee;
    font-size: 40px;
    padding-bottom: 10px;
}
.formulario {
    background: #897;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact {
    background: #980;
    display: flex;
    justify-content: center;
    align-items: center;
}
