* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background: url(Img/fundo.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.homepage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #393e4633;
    border-bottom: 2px solid #eeeeee36;
    padding: 10px;
    padding-left: 20px;
    font-family: "Poppins", sans-serif;
}
.informacoes {
    background: none;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 10px;
    border: 2px solid #eeeeee41;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.493) 0px 5px 15px;
}

#logo1 {
    color: #FFF;
    font-size: 30px;
    font-weight: 600;
}

#logo1 span {
    color: #00acb5;
}

.menu {
    background: none;
    padding-right: 30px;
}

.menu a {
    font-family: "poppins", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #FFF;
    background: none;
    padding-right: 1rem;
    transition: .3s;
    
}

.menu a:hover {
    color: #00ADB5;
}

.home {
    padding-top: 13rem;
    color: #FFF;
    background: none;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info1 {
    border-left: 1px solid #eeeeee36;
    border-bottom: 1px solid #eeeeee36;
    border-radius: 1rem;
    background: none;
    padding: 10px;
    padding-left: 30px;
}

.info1 h1 {
    font-family: "Poppins", sans-serif;
    font-size: 55px;
    margin: 0;
    padding-bottom: 30px;
    background: none;
    line-height: .9;
    text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.073);
}

.info1 h1 span {
    color: #00ADB5;
    text-shadow: 4px 4px 2px rgba(3, 179, 243, 0.075);
}

.info1 p {
    font-family: "Poppins", sans-serif;
    text-shadow: 0px 1px 9px rgba(0,0,0,0.6);
} 

.infolinks {
    background: none;
    margin-top: 20px;
    display: flex;
    padding: 10px;
    padding-left: 0;

}

.infolinks a {
    padding-right: 10px;

}

.imagens {
    color: #FFF;
    background: #00acb5;
    padding: 10px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: .3s;
}

.infolinks a img:hover {
    color: #FFF;
    background: #00acb569
}

.infolinks1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infolinks1 a {
    display: flex;
    align-items: center;
    background: #393e46d2;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 5px;
    color: #FFF;
    font-family: "Poppins";
    font-weight: 600;
    border-radius: 50px;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-shadow: 3px 6px 2px rgba(0,0,0,0.14);
    text-align: start;
    transition: .3s;
    line-height: 0;
}

.infolinks1 a:hover {
    background: #393e4633;
}

.infolinks1 box-icon {
    
    background: none;
    padding-right: 0px;
}

#homeimg {
    height: 300px;
    padding-bottom: 0px;
}

/* é isso */
